<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/assets/favicon/favicon_Groggery.ico">

    <title>@ViewData["Title"] - Ora Lounge</title>

    <!-- CSS Plugins -->
    <link href="~/assets/plugins/lightbox/dist/css/lightbox.css" rel="stylesheet">
    <link href="~/assets/plugins/flickity/flickity.min.css" rel="stylesheet">
    <link href="~/assets/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" type="text/css">

    <!-- CSS Global -->
    <link href="~/assets/css/styles.css" rel="stylesheet">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="70">

    <!-- TO THE TOP BUTTON
    ================================================== -->
    <a id="back-to-top" href="#section_welcome" class="btn btn-primary back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
        <i class="ion-android-arrow-up"></i>
    </a>

    <!-- PRELOADER
    ================================================== -->
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>

    <!--  NAVBAR
    ================================================== -->
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar__collapse" aria-expanded="false">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="~/assets/img/logo.png" alt="Ora Lounge" style="max-height:40px" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar__collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- General links -->
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")"><a href="/">Home</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")"><a href="/Home/About">About</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Menu" ? "active" : "")"><a href="/Home/Menu">Menu</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Gallery" ? "active" : "")"><a href="/Home/Gallery">Gallery</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")"><a href="/Home/Contact">Contact</a></li>
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "BookNow" ? "active" : "")"><a href="/BookNow/Index">Book Now</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
    <div id="page_top"></div>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <!-- section footer -->
    <footer class="section_footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <h3 class="section_footer_heading">Contact</h3>
                    <p><i class="icon ion-ios-location-outline"></i> 581 Green Lanes, Harringay, London N8 0RG</p>
                    <p><i class="icon ion-ios-telephone-outline"></i> +44 0208 341 48 14</p>
                    <p><i class="icon ion-ios-email-outline"></i> info@oralounge.co.uk</p>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h3 class="section_footer_heading">Follow us</h3>
                    <div class="social">
                        <ul>
                            <li><p><b>Social: </b></p></li>
                            @*<li class="social_icon"><a href="#"><i class="icon ion-social-facebook-outline"></i></a></li>
                                <li class="social_icon"><a href="#"><i class="icon ion-social-twitter-outline"></i></a></li>*@
                            <li class="social_icon"><a href="https://www.instagram.com/oraloungeuk/" target="_blank"><i class="icon ion-social-instagram-outline"></i></a></li>
                            @*<li class="social_icon"><a href="#"><i class="ion-social-foursquare"></i></a></li>*@
                        </ul>
                    </div> <!-- .social -->
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h3 class="section_footer_heading">Opening hours</h3>
                    <p><b>Sun-Thu: </b>2PM - 12PM</p>
                    <p><b>Fri-Sat: </b>2PM - 2AM</p>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h3 class="section_footer_heading">Support</h3>
                    <p><a href="#">Contact</a></p>
                    <p><a href="#">Privacy Policy</a></p>
                    <p><a href="#">Terms & Conditions</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <p class="footer_info">&#169; @DateTime.Now.Year Ora Lounge. All rights reserved.</p>
                </div>
            </div> <!-- .row -->
        </div> <!-- .container -->
    </footer>

    <!-- JS
    ================================================== -->
    <!-- JS Global -->
    <script src="~/assets/plugins/jquery/jquery-1.12.4.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- JS Plugins -->
    <script src="~/assets/plugins/lightbox/dist/js/lightbox.min.js"></script>
    <script src="~/assets/plugins/isotope/isotope.pkgd.min.js"></script>
    <script src="~/assets/plugins/flickity/flickity.pkgd.min.js"></script>
    <script src="~/assets/plugins/imagesloaded/imagesloaded.pkgd.min.js"></script>

    <!-- JS Custom -->
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/google_maps.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>

    @RenderSection("Scripts", required: false)

    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrBLslj9_nF3xFeNDJr1y2eteoiYlAALo&callback=initMap" async defer></script>

</body>
</html>