@model Web.OraLounge.Areas.Admin.Models.PostCategoryViewModel
@using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "update-category-form" }))
{
    <div class="modal-body" style="text-align:center">
        <div class="row">
            <div class="col-sm-12 ml-auto">
                <div class="contacts_form__body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                        <span class="help-block">
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </span>
                    </div>
                </div>
            </div>
        </div> <!-- / .row -->
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
}

