@model IEnumerable<Web.OraLounge.Areas.Admin.Models.PendingBookingViewModel>
<div class="table-responsive">
    <table class="table table-bordered" id="pendingBooking" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Actions</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>People Count</th>
                <th>Message</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Actions</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>People Count</th>
                <th>Message</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-item-id="@item.Id">
                    <td>
                        <a href="#" class="edit-row"><i class="fas fa-pencil-alt"></i> Set a Table</a>
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.Email</td>
                    <td>@item.Phone</td>
                    <td>@item.PeopleCount</td>
                    <td>@item.Message</td>
                </tr>
            }
        </tbody>
    </table>
</div>
